.features {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: auto auto;
    grid-gap: 6rem;
}

.feature {

        display: grid;
        grid-template-columns: min-content 1fr;
        grid-gap: 1.5rem 2.5rem;
    
    &__icon {
        color: $color-primary;
        font-size: 5rem;
        font-weight: 100;
        grid-row: 1 / span 2;

        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}