.header {
    grid-column: full-start / col-end 6;
    background-image: linear-gradient(to right, rgba($color-secondary, 0.90), rgba($color-secondary, 0.90)),
    url(/img/hero.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content,max-content);
    justify-content: center;
    grid-row-gap: 2rem;

    &__logo {
        height: 3.5rem;
        width: auto;
        justify-self: center;
        align-self: center;

    }

    &__btn { 
        align-self: start;
        justify-self: start;
    }

    &__seenon-text {
        color: $color-grey-light-1;
        font-family: $font-display;
        font-size: 2rem;
        filter: brightness(70%);
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;
        justify-items: center;


        &::before,
        &::after {
            display: block;
            content: "";
            height: 1px;
            width: 15rem;
            background-color: currentColor;
        }

    }

    &__seenon-img {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1.5rem;
        justify-items: center;

        img {
            max-height: 2.5rem;
            max-width: 100%;
            filter: brightness(70%);

        }
    }
}