.homes {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;

}

.home {
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: 1fr 1fr;

     &__image {
         width: 100%;
         grid-column: 1 /-1;
     }

     &__name {
         grid-column: 1 / -1;

     }

      &__loc,
      &__room,
      &__square,
      &__price {

      }
 

}