.homes {
    background-color: $color-secondary;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;

}

.home {

     &__img {
         width: 100%;
     }
 
     &__detail{
 
     }
}